<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	
    <system.web>
		 <pages enableEventValidation="false">
		     <controls>
		         <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
		     </controls>
		 </pages>
      <compilation debug="true" targetFramework="4.6.1">
          <assemblies>
          </assemblies>
      </compilation>
      <httpRuntime targetFramework="4.6.1" />
      <httpHandlers>
          <add verb="*" path="captimage.axd" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=18.4460.0.48, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
      </httpHandlers>
      <profile defaultProvider="DefaultProfileProvider">
          <providers>
          </providers>
      </profile>
      <membership defaultProvider="DefaultMembershipProvider">
          <providers>
          </providers>
      </membership>
      <roleManager defaultProvider="DefaultRoleProvider">
          <providers>
          </providers>
      </roleManager>
    </system.web>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
        </compilers>
    </system.codedom>
	<connectionStrings>
		<add name="ASPWMSConnectionString" connectionString=" Data Source= DESKTOP-MDT96IG; Initial Catalog= AutoSparePartWholesaleManagementSystem; Integrated Security=True" providerName="System.Data.sqlClient" /> 
			 
	</connectionStrings>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	<add key="PageInspector:ServerCodeMappingSupport" value="Disabled" />
	</appSettings>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true" />
		<handlers>
			<add verb="*" path="captimage.axd" name="syncfusion_generatetools" type="Syncfusion.JavaScript.ImageHandler, Syncfusion.EJ, Version=18.4460.0.48, Culture=neutral, PublicKeyToken=3d67ed1f87d44c89" />
		</handlers>
	</system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>

</configuration>
